<div class="container title-download">
            <div class="row">
                <div class="col-md-10"><h1>党员领导干部结对帮扶困难师生情况汇总</h1></div>
                <div class="col-md-2 download downtable">
                    <button class="downtablebutton download17" id="download17">下载党员领导干部结对帮扶困难师生情况表</button>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table17" id="table17">
                <tr id="com-1">
                    <th>单位名称</th>
                    <th>姓名</th>
                    <th>职务</th>
                    <th>帮扶对象类别</th>
                    <th>帮扶对象姓名</th>
                    <th>住址</th>
                    <th>帮扶对象基本情况</th>
                    <th>备注</th>
                </tr>
            </table>
        </div>