<div class="container title-download">
    <div class="row">
        <div class="col-md-10"><h1>民主生活会准备情况汇总</h1></div>
        <div class="col-md-2 download downtable">
            <button class="downtablebutton download5" id="download5">下载准备情况汇总表</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered" id="table5">
        <tr>
            <th>单位名称</th>
            <th>会议时间</th>
            <th>会议地点</th>
            <th>参加校领导</th>
            <th>征求意见情况</th>
        </tr>
    </table>
</div>