<div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>会议时间（格式为2016-12-14上午9：00）</th>
                    <th>会议地点</th>
                    <th>参加校领导</th>
                </tr>
                <tr>
                    <td><input type="text" name="h1" id="h1" placeholder="会议时间"></td>
                    <td><input type="text" name="h2" id="h2" placeholder="会议地点"></td>
                    <td><input type="text" name="h3" id="h3" placeholder="参加校领导"></td>
                </tr>
                <tr>
                    <th>会前征求意见建议情况</th>
                    <td colspan="2"><textarea colspan="200" name="h4" id="h4" style="width:100%;min-height:100px;outline:none;" placeholder="会前征求意见建议情况"></textarea></td>
                </tr>
                <tr>
                    <td colspan="3">备注：填报过程中如有问题请联系电话：63861545</td>
                </tr>
            </table>
            <div id="saveAndSubmit6" class="saveAndSubmit">
                <button>保存并提交</button>
            </div>
            <div class="alert" id="alert6">*保存成功！</div>
        </div>