<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered" id="display5-5">
        <tr>
            <th>直属附属单位领导班子及成员</th>
            <th>意见建议</th>
        </tr>
    </table>
</div>